@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gabarito', sans-serif;
}

.right-icons{
  @apply flex justify-end;
}

.left-icons{
display: flex;
}
.left-item{
  margin: 1rem;
  display: inline-block;
  font-size: 14px;
}
@media screen and (max-width: 1264px) { 
  .left-item{
    width: 60%
  }
  
}

@media screen and (max-width: 1089px) {
  .left-item{
    width: 40%;
  }
}

@media screen and (max-width: 963px) {
  .right-item{
    
  }
}

.right-item{
  list-style: none;
  margin-right: 15px;
  display: flex;
 align-items: center;
}

.cateogories {
  display: flex;
  margin-top: 4rem;
  justify-content: center;
  gap: 10px;
 
}

.cateogory-items{
  padding-right: 10px;
  cursor:pointer;
  
  
}

.search-container{
  display: flex;
 float: right;
  transform: translateY(-20px);
  cursor: pointer;
  margin-right: 11rem;
}
.main-container{
display: grid;
justify-content: center;


}
.image-div{
  z-index: 1;
  position: static;
  max-width: 870px;
  margin-top: 5rem;
  align-items: center;
overflow: hidden;
}

.button-container{
  width: 843px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50px);
  
}

.button-container:hover{
  cursor: pointer;
}
.popular-list{
  margin-top: 2rem;
  
}
.item {
  padding-right: 15px;
  padding-left: 15px;
}

.featured-products{
  margin-top: 2rem;
  
}


.card-id{
 flex-wrap: nowrap; 
 cursor: pointer;
}


.footer-section{
  display:flex;
  justify-content: space-evenly;
}

.footer-item {
  width: 100%;
}

.footer-ul{
  margin-top: 10px;
}